/* styles for CElement-Backend */


.CElement {
border: 1px solid #ccc;
margin: 20px 0px;
width: 740px;
background: #EEE;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
position:relative;
}

.CElement .dividertable {
width: 99%;
}
.CElement .dividertable td {
padding: 5px;
}

.CElement .dividertable .image {
width: 130px
}

.CElement .tinymce {
width: 400px;
height: 300px;
}

.CElement label {
  font-size:10px;
}

.CElement label.above {
  display:block;
  float:none;
}


.CElement .buttoncol {
  text-align: right;
  width: 100px;
}
.CElement .buttoncol .editbuttons {
  margin-left:auto;
  margin-right:0;
  position:relative;
}

.CElement h3 {margin:5px 10px;}


.celement_sortlink {display:none}

.CElement .label-above label
{
  display:block;
}

.CElement .input-fullwidth input[type='text'],
.CElement .input-fullwidth textarea
{
  width:99%;
}



.CElement .editbuttons {
  width:90px;  
  
}

.CElement .editbuttons  .CType{
  font-size:11px;
}



.bootstrap .CElementListUL,
.CElementListUL {
  list-style:none;
  margin-left:20px;
}

.CElementListUL.ui-sortable .CElement.c4p-hidden
{
  display:none;
}

.CElement.c4p-hidden {
  display:block;
  visibility:visible;
  opacity: 0.6;
}

.CElement.c4p-hidden .editbuttons {
  opacity: 1;
}


.CElement.c4p-hidden.editmode {
  opacity: 1;
}


.CElement .ui-icon-lightbulb
{
  background-position: -80px -112px;
}
.CElement.archived .ui-icon-lightbulb
{
  background-position: -224px -112px;
}
.CElement .ui-icon-cancel
{
  background-position: -192px -96px;
}
.CElement.c4p-hidden .ui-icon-cancel
{
  background-position: -208px -96px; 
}

.celement-ctypeswitcher .dropdown-menu {
  text-align:left;
}

.celement_settings {
  text-align:left;
  position:absolute;
  width:400px;
  right:30px;
  top:10px;
  background:#fff;
  padding:5px;
  border:1px solid #888;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.5);
  box-shadow: 3px 3px rgba(0,0,0,0.5);
  z-index:1000;
}


.CElementCopyPasteControls a {margin:0px 3px}

.CElement-cb {position:absolute;left:-20px;top:2px}


.C4P .nav-tabs {font-size:1.2em;}
.C4P label {display:block;font-weight:bold;margin-top:5px;margin-bottom:0px}
.C4P input[type=text],
.C4P textarea {width:94%;}
.C4P input, textarea, select {margin-bottom:0px}
.C4P .formitem-note {font-size:10px;color:#777}
.c4p_settings {padding:5px 0px}

.c4p-child {  
    background: rgba(0,0,0,0.1);
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    margin: 10px 5px;
    position: relative;
    width: 100%;
  }

.c4p-childeditcontrols {
/*  position:absolute;
  right:5px;
  top:5px;*/
}

.bootstrap ul.c4p-childlist {margin:0px;}

.c4p-childlist-1col > .c4p-child {width:100%;}
.c4p-childlist-2col > .c4p-child {width:260px;}
.c4p-childlist-3col > .c4p-child {width:170px;}
.c4p-childlist-4col > .c4p-child {width:120px;}

.c4p-childlist > .c4p-child {
  display:inline-block;  zoom: 1;  *display: inline;
  vertical-align:top;
  padding:2px;
}

