.ehpdiv {font-size: 11px;}


.ehpdiv table tr .ehp_rowbuttons {
  visibility: hidden;
  white-space: nowrap;
}
.ehpdiv table tr .ehp_rowbuttons p {
  position:relative;
  margin:0px;
}

.ehpdiv table tr.active .ehp_rowbuttons {
  visibility: visible;
  white-space: nowrap;
}


.ehpdiv table tr.active {
  background: #eee;
}

.ehpdiv table tr td.ehp_rowbuttons {
  width: 80px;
  white-space: nowrap;
}
.ehpdiv table {
  margin: 10px 0px;
  width: 100%;
  border-collapse: collapse;
}

.ehpdiv tr.editmode > td {
  border-top:2px solid #333;
  border-bottom:2px solid #333;
}

.ehpdiv tr.editmode > td.ehp_rowbuttons {
  visibility:visible;
  background:#eee;
}


.ehp-noitemsfound {text-align:center;color:#999;margin:10px;}


.ehpdiv table tr th {
  padding:4px;
  border: none;
  border-right: 1px dotted #fff;
  border-left: 1px dotted #fff;
  background: #ddd;
  color: #666;
  text-align: left;
}
  
  
.ehpdiv table .ehp-checkbox input[type='checkbox']{
  float:none;
  margin:0;
  position: relative;
}

.ehpdiv table .ehp-checkbox {
  padding:4px;
}  

.ehpdiv table tr th.sortable_col{
  cursor:pointer;
}


.ehpdiv table tr.filter th input {
  width: auto;
  font-size: 10px;
}
  
.ehpdiv table tr.plain td,
.ehpdiv table tr.plain.active td {
  border: none;
  background: #fff;
}
   
.ehpdiv table tr.ehp_paging td {
  padding: 8px;
}
.ehpdiv table tr.ehp_paging td a {
  color: #555;
}
.ehpdiv table tr.ehp_paging td a:hover {
  text-decoration: underline;
}

.ehpdiv table tr.ehp_paging td a strong{
  color:black;
}
   
.ehp-dragdrop_sort .ehp_rowbuttons > p { padding-right:20px }
  
   
.ehpdiv table tr.actionfooter td,
.ehpdiv table tr.plain.actionfooter.active td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #f2f2f2;
  background: -webkit-linear-gradient(#ddd, #f9f9f9);
  background: -moz-linear-gradient(#ddd, #f9f9f9);
  background-color: #f9f9f9;
}
   
.ehpdiv .ehp_actionresult {
  display:inline-block;
  padding:4px;
  zoom: 1;
  *display: inline;
}
   
.ehpdiv  table.ehptable > tbody > tr > td {
  padding: 4px;
  border-top: 1px solid #ccc;
  border-right: 1px dotted #eee;
  border-bottom: 1px solid #ccc;
  border-left: 1px dotted #eee;
}

.ehpdiv  table.ehptable > thead > tr > th {
  vertical-align: top;
}

.ehpdiv table.ehptable > tbody > tr.ishidden > td {
  opacity: 0.5;
}

.ehpdiv table.ehptable > tbody > tr.archived > td {
  font-style:italic;
}


.ehpdiv table tr .ui-icon-lightbulb
{
  background-position: -80px -112px;
}

.ehpdiv table tr.archived .ui-icon-lightbulb
{
  background-position: -224px -112px;
}


.ehpdiv table tr .ui-icon-cancel
{
  background-position: -192px -96px;
}

.ehpdiv table tr.ishidden .ui-icon-cancel
{
  background-position: -208px -96px; 
}


.ehpdiv table tr.ishidden td.ehp_rowbuttons {
  opacity: 1;
}


.ehpdiv .sortgrip {
  position:absolute;
  top:2px;
  right:-6px;
  display:block;
  width: 16px;
  height: 16px;
  background: url('/Mwerkzeug/images/sort_grip.png') no-repeat scroll left top;
  cursor:move;
}


/* inline form defaults: */


.ehpdiv .formgroup label  {
  display:block;
}

.ehpdiv .formgroup {position:relative;}

.ehpdiv .formgroup ul li  {
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    width: auto;
}

.ehpdiv .formgroup ul li.last,
.ehpdiv .formgroup ul li:last-child
 {
    margin-right:0px;
}

.ehpdiv .formgroup ul li  label {
    display: block;
    float: none;
    margin-bottom: 2px;
    width: auto;
}

.ehpdiv .formgroup ul:after {
      display: block;
      visibility: hidden;
      clear: both;
      height: 0;
      content: ".";
  }
  
.ehpdiv input.cb {float:none;margin-left:0;}  
  
  
.ehpdiv label,
.ehpdiv .control-group 
{
  margin-bottom:0px;
}
  
.ehpdiv  ul {margin:0;padding:0;list-style:none;}

.ehpdiv .form-control.set-inline {
  width:auto;
}


