/* ArrayList  2011-01-30 */
.MwFileFieldDIV {
  vertical-align: inherit;
  border: 1px inset white;
  padding: 5px;
}

.MwFileFieldDIV .button i {
  font-style: normal;
  font-size: 10px;
}

.MwFileFieldDIV ._subline {
  font-size: 10px;
  max-width: 300px
}

.MwFileFieldDIV ._preview {
  border: 1px solid #ccc;
  background: white;
  padding: 5px;
  position: relative;
}

.MwFileFieldDIV ._preview img {
  border: 8px solid #ccc;
}

.MwFileFieldDIV ._previewbuttons {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 5px;
  text-align: right;
}

.MwFileFieldDIV ._uploadplace iframe {
  width: 100%;
  height: 80px;
}
