$c-background: white;

$c-color1: #222299;
$c-text: #555555;

// Fonts


$f-basefont: 'verdana, arial';

$f-text: $f-basefont;
$f-text-size: 12px;
$f-text-lh: 1.2;

//$round-to-nearest-half-line:true;
