<div class="c4p-item-type-chooser">

    <span translate>hl_chooseTheItemYouWantToAdd</span>:
    <button class="btn btn-sm pull-right" type="button" ng-click="resetAddItem()"><i class="fa fa-times"></i> <span translate>label_cancel</span></button>
    
<div class="typeitems">
    <span ng-repeat="(ctype, t) in allowedTypesForAdd">

      <button class="btn btn-sm btn-blank" type="button" ng-click="createItem({before:i,ctype:ctype})"><i class='fa fa-cube'></i> {{t.label}}</button>

  </span> 
</div>

</div>
