.back2edit .btn, .back2edit .b2e-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .back2edit .btn:focus, .back2edit .b2e-btn:focus, .back2edit .btn.focus, .back2edit .focus.b2e-btn, .back2edit .btn:active:focus, .back2edit .b2e-btn:active:focus, .back2edit .btn:active.focus, .back2edit .b2e-btn:active.focus, .back2edit .btn.active:focus, .back2edit .active.b2e-btn:focus, .back2edit .btn.active.focus, .back2edit .active.focus.b2e-btn {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .back2edit .btn:hover, .back2edit .b2e-btn:hover, .back2edit .btn:focus, .back2edit .b2e-btn:focus, .back2edit .btn.focus, .back2edit .focus.b2e-btn {
    color: #333;
    text-decoration: none; }
  .back2edit .btn:active, .back2edit .b2e-btn:active, .back2edit .btn.active, .back2edit .active.b2e-btn {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .back2edit .btn.disabled, .back2edit .disabled.b2e-btn, .back2edit .btn[disabled], .back2edit [disabled].b2e-btn,
  fieldset[disabled] .back2edit .btn,
  fieldset[disabled] .back2edit .b2e-btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.back2edit a.btn.disabled, .back2edit a.disabled.b2e-btn,
fieldset[disabled] .back2edit a.btn,
fieldset[disabled] .back2edit a.b2e-btn {
  pointer-events: none; }

.back2edit .btn-default, .back2edit .b2e-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .back2edit .btn-default:focus, .back2edit .b2e-btn-default:focus, .back2edit .btn-default.focus, .back2edit .focus.b2e-btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .back2edit .btn-default:hover, .back2edit .b2e-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .back2edit .btn-default:active, .back2edit .b2e-btn-default:active, .back2edit .btn-default.active, .back2edit .active.b2e-btn-default,
  .open > .back2edit .btn-default.dropdown-toggle,
  .open > .back2edit .dropdown-toggle.b2e-btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    .back2edit .btn-default:active:hover, .back2edit .b2e-btn-default:active:hover, .back2edit .btn-default:active:focus, .back2edit .b2e-btn-default:active:focus, .back2edit .btn-default:active.focus, .back2edit .b2e-btn-default:active.focus, .back2edit .btn-default.active:hover, .back2edit .active.b2e-btn-default:hover, .back2edit .btn-default.active:focus, .back2edit .active.b2e-btn-default:focus, .back2edit .btn-default.active.focus, .back2edit .active.focus.b2e-btn-default,
    .open > .back2edit .btn-default.dropdown-toggle:hover,
    .open > .back2edit .dropdown-toggle.b2e-btn-default:hover,
    .open > .back2edit .btn-default.dropdown-toggle:focus,
    .open > .back2edit .dropdown-toggle.b2e-btn-default:focus,
    .open > .back2edit .btn-default.dropdown-toggle.focus,
    .open > .back2edit .dropdown-toggle.focus.b2e-btn-default {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  .back2edit .btn-default:active, .back2edit .b2e-btn-default:active, .back2edit .btn-default.active, .back2edit .active.b2e-btn-default,
  .open > .back2edit .btn-default.dropdown-toggle,
  .open > .back2edit .dropdown-toggle.b2e-btn-default {
    background-image: none; }
  .back2edit .btn-default.disabled:hover, .back2edit .disabled.b2e-btn-default:hover, .back2edit .btn-default.disabled:focus, .back2edit .disabled.b2e-btn-default:focus, .back2edit .btn-default.disabled.focus, .back2edit .disabled.focus.b2e-btn-default, .back2edit .btn-default[disabled]:hover, .back2edit [disabled].b2e-btn-default:hover, .back2edit .btn-default[disabled]:focus, .back2edit [disabled].b2e-btn-default:focus, .back2edit .btn-default[disabled].focus, .back2edit [disabled].focus.b2e-btn-default,
  fieldset[disabled] .back2edit .btn-default:hover,
  fieldset[disabled] .back2edit .b2e-btn-default:hover,
  fieldset[disabled] .back2edit .btn-default:focus,
  fieldset[disabled] .back2edit .b2e-btn-default:focus,
  fieldset[disabled] .back2edit .btn-default.focus,
  fieldset[disabled] .back2edit .focus.b2e-btn-default {
    background-color: #fff;
    border-color: #ccc; }
  .back2edit .btn-default .badge, .back2edit .b2e-btn-default .badge {
    color: #fff;
    background-color: #333; }

.back2edit .btn-primary, .back2edit .b2e-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  .back2edit .btn-primary:focus, .back2edit .b2e-btn-primary:focus, .back2edit .btn-primary.focus, .back2edit .focus.b2e-btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  .back2edit .btn-primary:hover, .back2edit .b2e-btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .back2edit .btn-primary:active, .back2edit .b2e-btn-primary:active, .back2edit .btn-primary.active, .back2edit .active.b2e-btn-primary,
  .open > .back2edit .btn-primary.dropdown-toggle,
  .open > .back2edit .dropdown-toggle.b2e-btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
    .back2edit .btn-primary:active:hover, .back2edit .b2e-btn-primary:active:hover, .back2edit .btn-primary:active:focus, .back2edit .b2e-btn-primary:active:focus, .back2edit .btn-primary:active.focus, .back2edit .b2e-btn-primary:active.focus, .back2edit .btn-primary.active:hover, .back2edit .active.b2e-btn-primary:hover, .back2edit .btn-primary.active:focus, .back2edit .active.b2e-btn-primary:focus, .back2edit .btn-primary.active.focus, .back2edit .active.focus.b2e-btn-primary,
    .open > .back2edit .btn-primary.dropdown-toggle:hover,
    .open > .back2edit .dropdown-toggle.b2e-btn-primary:hover,
    .open > .back2edit .btn-primary.dropdown-toggle:focus,
    .open > .back2edit .dropdown-toggle.b2e-btn-primary:focus,
    .open > .back2edit .btn-primary.dropdown-toggle.focus,
    .open > .back2edit .dropdown-toggle.focus.b2e-btn-primary {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40; }
  .back2edit .btn-primary:active, .back2edit .b2e-btn-primary:active, .back2edit .btn-primary.active, .back2edit .active.b2e-btn-primary,
  .open > .back2edit .btn-primary.dropdown-toggle,
  .open > .back2edit .dropdown-toggle.b2e-btn-primary {
    background-image: none; }
  .back2edit .btn-primary.disabled:hover, .back2edit .disabled.b2e-btn-primary:hover, .back2edit .btn-primary.disabled:focus, .back2edit .disabled.b2e-btn-primary:focus, .back2edit .btn-primary.disabled.focus, .back2edit .disabled.focus.b2e-btn-primary, .back2edit .btn-primary[disabled]:hover, .back2edit [disabled].b2e-btn-primary:hover, .back2edit .btn-primary[disabled]:focus, .back2edit [disabled].b2e-btn-primary:focus, .back2edit .btn-primary[disabled].focus, .back2edit [disabled].focus.b2e-btn-primary,
  fieldset[disabled] .back2edit .btn-primary:hover,
  fieldset[disabled] .back2edit .b2e-btn-primary:hover,
  fieldset[disabled] .back2edit .btn-primary:focus,
  fieldset[disabled] .back2edit .b2e-btn-primary:focus,
  fieldset[disabled] .back2edit .btn-primary.focus,
  fieldset[disabled] .back2edit .focus.b2e-btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4; }
  .back2edit .btn-primary .badge, .back2edit .b2e-btn-primary .badge {
    color: #337ab7;
    background-color: #fff; }

.back2edit .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .back2edit .btn-success:focus, .back2edit .btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625; }
  .back2edit .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
  .back2edit .btn-success:active, .back2edit .btn-success.active,
  .open > .back2edit .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
    .back2edit .btn-success:active:hover, .back2edit .btn-success:active:focus, .back2edit .btn-success:active.focus, .back2edit .btn-success.active:hover, .back2edit .btn-success.active:focus, .back2edit .btn-success.active.focus,
    .open > .back2edit .btn-success.dropdown-toggle:hover,
    .open > .back2edit .btn-success.dropdown-toggle:focus,
    .open > .back2edit .btn-success.dropdown-toggle.focus {
      color: #fff;
      background-color: #398439;
      border-color: #255625; }
  .back2edit .btn-success:active, .back2edit .btn-success.active,
  .open > .back2edit .btn-success.dropdown-toggle {
    background-image: none; }
  .back2edit .btn-success.disabled:hover, .back2edit .btn-success.disabled:focus, .back2edit .btn-success.disabled.focus, .back2edit .btn-success[disabled]:hover, .back2edit .btn-success[disabled]:focus, .back2edit .btn-success[disabled].focus,
  fieldset[disabled] .back2edit .btn-success:hover,
  fieldset[disabled] .back2edit .btn-success:focus,
  fieldset[disabled] .back2edit .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c; }
  .back2edit .btn-success .badge {
    color: #5cb85c;
    background-color: #fff; }

.back2edit .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .back2edit .btn-info:focus, .back2edit .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85; }
  .back2edit .btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
  .back2edit .btn-info:active, .back2edit .btn-info.active,
  .open > .back2edit .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
    .back2edit .btn-info:active:hover, .back2edit .btn-info:active:focus, .back2edit .btn-info:active.focus, .back2edit .btn-info.active:hover, .back2edit .btn-info.active:focus, .back2edit .btn-info.active.focus,
    .open > .back2edit .btn-info.dropdown-toggle:hover,
    .open > .back2edit .btn-info.dropdown-toggle:focus,
    .open > .back2edit .btn-info.dropdown-toggle.focus {
      color: #fff;
      background-color: #269abc;
      border-color: #1b6d85; }
  .back2edit .btn-info:active, .back2edit .btn-info.active,
  .open > .back2edit .btn-info.dropdown-toggle {
    background-image: none; }
  .back2edit .btn-info.disabled:hover, .back2edit .btn-info.disabled:focus, .back2edit .btn-info.disabled.focus, .back2edit .btn-info[disabled]:hover, .back2edit .btn-info[disabled]:focus, .back2edit .btn-info[disabled].focus,
  fieldset[disabled] .back2edit .btn-info:hover,
  fieldset[disabled] .back2edit .btn-info:focus,
  fieldset[disabled] .back2edit .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da; }
  .back2edit .btn-info .badge {
    color: #5bc0de;
    background-color: #fff; }

.back2edit .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .back2edit .btn-warning:focus, .back2edit .btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d; }
  .back2edit .btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
  .back2edit .btn-warning:active, .back2edit .btn-warning.active,
  .open > .back2edit .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
    .back2edit .btn-warning:active:hover, .back2edit .btn-warning:active:focus, .back2edit .btn-warning:active.focus, .back2edit .btn-warning.active:hover, .back2edit .btn-warning.active:focus, .back2edit .btn-warning.active.focus,
    .open > .back2edit .btn-warning.dropdown-toggle:hover,
    .open > .back2edit .btn-warning.dropdown-toggle:focus,
    .open > .back2edit .btn-warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d; }
  .back2edit .btn-warning:active, .back2edit .btn-warning.active,
  .open > .back2edit .btn-warning.dropdown-toggle {
    background-image: none; }
  .back2edit .btn-warning.disabled:hover, .back2edit .btn-warning.disabled:focus, .back2edit .btn-warning.disabled.focus, .back2edit .btn-warning[disabled]:hover, .back2edit .btn-warning[disabled]:focus, .back2edit .btn-warning[disabled].focus,
  fieldset[disabled] .back2edit .btn-warning:hover,
  fieldset[disabled] .back2edit .btn-warning:focus,
  fieldset[disabled] .back2edit .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236; }
  .back2edit .btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff; }

.back2edit .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }
  .back2edit .btn-danger:focus, .back2edit .btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19; }
  .back2edit .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
  .back2edit .btn-danger:active, .back2edit .btn-danger.active,
  .open > .back2edit .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
    .back2edit .btn-danger:active:hover, .back2edit .btn-danger:active:focus, .back2edit .btn-danger:active.focus, .back2edit .btn-danger.active:hover, .back2edit .btn-danger.active:focus, .back2edit .btn-danger.active.focus,
    .open > .back2edit .btn-danger.dropdown-toggle:hover,
    .open > .back2edit .btn-danger.dropdown-toggle:focus,
    .open > .back2edit .btn-danger.dropdown-toggle.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19; }
  .back2edit .btn-danger:active, .back2edit .btn-danger.active,
  .open > .back2edit .btn-danger.dropdown-toggle {
    background-image: none; }
  .back2edit .btn-danger.disabled:hover, .back2edit .btn-danger.disabled:focus, .back2edit .btn-danger.disabled.focus, .back2edit .btn-danger[disabled]:hover, .back2edit .btn-danger[disabled]:focus, .back2edit .btn-danger[disabled].focus,
  fieldset[disabled] .back2edit .btn-danger:hover,
  fieldset[disabled] .back2edit .btn-danger:focus,
  fieldset[disabled] .back2edit .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a; }
  .back2edit .btn-danger .badge {
    color: #d9534f;
    background-color: #fff; }

.back2edit .btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0; }
  .back2edit .btn-link, .back2edit .btn-link:active, .back2edit .btn-link.active, .back2edit .btn-link[disabled],
  fieldset[disabled] .back2edit .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .back2edit .btn-link, .back2edit .btn-link:hover, .back2edit .btn-link:focus, .back2edit .btn-link:active {
    border-color: transparent; }
  .back2edit .btn-link:hover, .back2edit .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent; }
  .back2edit .btn-link[disabled]:hover, .back2edit .btn-link[disabled]:focus,
  fieldset[disabled] .back2edit .btn-link:hover,
  fieldset[disabled] .back2edit .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.back2edit .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.back2edit .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.back2edit .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.back2edit .btn-block {
  display: block;
  width: 100%; }

.back2edit .btn-block + .btn-block {
  margin-top: 5px; }

.back2edit input[type="submit"].btn-block,
.back2edit input[type="reset"].btn-block,
.back2edit input[type="button"].btn-block {
  width: 100%; }

.back2edit fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

.back2edit legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

.back2edit label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.back2edit input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.back2edit input[type="radio"],
.back2edit input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

.back2edit input[type="file"] {
  display: block; }

.back2edit input[type="range"] {
  display: block;
  width: 100%; }

.back2edit select[multiple],
.back2edit select[size] {
  height: auto; }

.back2edit input[type="file"]:focus,
.back2edit input[type="radio"]:focus,
.back2edit input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.back2edit output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555; }

.back2edit .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .back2edit .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .back2edit .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .back2edit .form-control:-ms-input-placeholder {
    color: #999; }
  .back2edit .form-control::-webkit-input-placeholder {
    color: #999; }
  .back2edit .form-control::-ms-expand {
    border: 0;
    background-color: transparent; }
  .back2edit .form-control[disabled], .back2edit .form-control[readonly],
  fieldset[disabled] .back2edit .form-control {
    background-color: #eeeeee;
    opacity: 1; }
  .back2edit .form-control[disabled],
  fieldset[disabled] .back2edit .form-control {
    cursor: not-allowed; }

.back2edit textarea.form-control {
  height: auto; }

.back2edit input[type="search"] {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .back2edit input[type="date"].form-control,
  .back2edit input[type="time"].form-control,
  .back2edit input[type="datetime-local"].form-control,
  .back2edit input[type="month"].form-control {
    line-height: 34px; }
  .back2edit input[type="date"].input-sm,
  .input-group-sm .back2edit input[type="date"],
  .back2edit input[type="time"].input-sm,
  .input-group-sm
  .back2edit input[type="time"],
  .back2edit input[type="datetime-local"].input-sm,
  .input-group-sm
  .back2edit input[type="datetime-local"],
  .back2edit input[type="month"].input-sm,
  .input-group-sm
  .back2edit input[type="month"] {
    line-height: 30px; }
  .back2edit input[type="date"].input-lg,
  .input-group-lg .back2edit input[type="date"],
  .back2edit input[type="time"].input-lg,
  .input-group-lg
  .back2edit input[type="time"],
  .back2edit input[type="datetime-local"].input-lg,
  .input-group-lg
  .back2edit input[type="datetime-local"],
  .back2edit input[type="month"].input-lg,
  .input-group-lg
  .back2edit input[type="month"] {
    line-height: 46px; } }

.back2edit .form-group {
  margin-bottom: 15px; }

.back2edit .radio,
.back2edit .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .back2edit .radio label,
  .back2edit .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.back2edit .radio input[type="radio"],
.back2edit .radio-inline input[type="radio"],
.back2edit .checkbox input[type="checkbox"],
.back2edit .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.back2edit .radio + .radio,
.back2edit .checkbox + .checkbox {
  margin-top: -5px; }

.back2edit .radio-inline,
.back2edit .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.back2edit .radio-inline + .radio-inline,
.back2edit .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

.back2edit input[type="radio"][disabled], .back2edit input[type="radio"].disabled,
fieldset[disabled] .back2edit input[type="radio"],
.back2edit input[type="checkbox"][disabled],
.back2edit input[type="checkbox"].disabled,
fieldset[disabled]
.back2edit input[type="checkbox"] {
  cursor: not-allowed; }

.back2edit .radio-inline.disabled,
fieldset[disabled] .back2edit .radio-inline,
.back2edit .checkbox-inline.disabled,
fieldset[disabled]
.back2edit .checkbox-inline {
  cursor: not-allowed; }

.back2edit .radio.disabled label,
fieldset[disabled] .back2edit .radio label,
.back2edit .checkbox.disabled label,
fieldset[disabled]
.back2edit .checkbox label {
  cursor: not-allowed; }

.back2edit .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px; }
  .back2edit .form-control-static.input-lg, .back2edit .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0; }

.back2edit .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.back2edit select.input-sm {
  height: 30px;
  line-height: 30px; }

.back2edit textarea.input-sm,
.back2edit select[multiple].input-sm {
  height: auto; }

.back2edit .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.back2edit .form-group-sm select.form-control {
  height: 30px;
  line-height: 30px; }

.back2edit .form-group-sm textarea.form-control,
.back2edit .form-group-sm select[multiple].form-control {
  height: auto; }

.back2edit .form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5; }

.back2edit .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.back2edit select.input-lg {
  height: 46px;
  line-height: 46px; }

.back2edit textarea.input-lg,
.back2edit select[multiple].input-lg {
  height: auto; }

.back2edit .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.back2edit .form-group-lg select.form-control {
  height: 46px;
  line-height: 46px; }

.back2edit .form-group-lg textarea.form-control,
.back2edit .form-group-lg select[multiple].form-control {
  height: auto; }

.back2edit .form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333; }

.back2edit .has-feedback {
  position: relative; }
  .back2edit .has-feedback .form-control {
    padding-right: 42.5px; }

.back2edit .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none; }

.back2edit .input-lg + .form-control-feedback,
.back2edit .input-group-lg + .form-control-feedback,
.back2edit .form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px; }

.back2edit .input-sm + .form-control-feedback,
.back2edit .input-group-sm + .form-control-feedback,
.back2edit .form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px; }

.back2edit .has-success .help-block,
.back2edit .has-success .control-label,
.back2edit .has-success .radio,
.back2edit .has-success .checkbox,
.back2edit .has-success .radio-inline,
.back2edit .has-success .checkbox-inline,
.back2edit .has-success.radio label,
.back2edit .has-success.checkbox label,
.back2edit .has-success.radio-inline label,
.back2edit .has-success.checkbox-inline label {
  color: #3c763d; }

.back2edit .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .back2edit .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }

.back2edit .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }

.back2edit .has-success .form-control-feedback {
  color: #3c763d; }

.back2edit .has-warning .help-block,
.back2edit .has-warning .control-label,
.back2edit .has-warning .radio,
.back2edit .has-warning .checkbox,
.back2edit .has-warning .radio-inline,
.back2edit .has-warning .checkbox-inline,
.back2edit .has-warning.radio label,
.back2edit .has-warning.checkbox label,
.back2edit .has-warning.radio-inline label,
.back2edit .has-warning.checkbox-inline label {
  color: #8a6d3b; }

.back2edit .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .back2edit .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }

.back2edit .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }

.back2edit .has-warning .form-control-feedback {
  color: #8a6d3b; }

.back2edit .has-error .help-block,
.back2edit .has-error .control-label,
.back2edit .has-error .radio,
.back2edit .has-error .checkbox,
.back2edit .has-error .radio-inline,
.back2edit .has-error .checkbox-inline,
.back2edit .has-error.radio label,
.back2edit .has-error.checkbox label,
.back2edit .has-error.radio-inline label,
.back2edit .has-error.checkbox-inline label {
  color: #a94442; }

.back2edit .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .back2edit .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.back2edit .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }

.back2edit .has-error .form-control-feedback {
  color: #a94442; }

.back2edit .has-feedback label ~ .form-control-feedback {
  top: 25px; }

.back2edit .has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.back2edit .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373; }

@media (min-width: 768px) {
  .back2edit .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .back2edit .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .back2edit .form-inline .form-control-static {
    display: inline-block; }
  .back2edit .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .back2edit .form-inline .input-group .input-group-addon,
    .back2edit .form-inline .input-group .input-group-btn,
    .back2edit .form-inline .input-group .form-control {
      width: auto; }
  .back2edit .form-inline .input-group > .form-control {
    width: 100%; }
  .back2edit .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .back2edit .form-inline .radio,
  .back2edit .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .back2edit .form-inline .radio label,
    .back2edit .form-inline .checkbox label {
      padding-left: 0; }
  .back2edit .form-inline .radio input[type="radio"],
  .back2edit .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .back2edit .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.back2edit .form-horizontal .radio,
.back2edit .form-horizontal .checkbox,
.back2edit .form-horizontal .radio-inline,
.back2edit .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }

.back2edit .form-horizontal .radio,
.back2edit .form-horizontal .checkbox {
  min-height: 27px; }

.back2edit .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .back2edit .form-horizontal .form-group:before, .back2edit .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .back2edit .form-horizontal .form-group:after {
    clear: both; }

@media (min-width: 768px) {
  .back2edit .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; } }

.back2edit .form-horizontal .has-feedback .form-control-feedback {
  right: 15px; }

@media (min-width: 768px) {
  .back2edit .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px; } }

@media (min-width: 768px) {
  .back2edit .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px; } }

.back2edit .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .back2edit .alert h4 {
    margin-top: 0;
    color: inherit; }
  .back2edit .alert .alert-link {
    font-weight: bold; }
  .back2edit .alert > p,
  .back2edit .alert > ul {
    margin-bottom: 0; }
  .back2edit .alert > p + p {
    margin-top: 5px; }

.back2edit .alert-dismissable,
.back2edit .alert-dismissible {
  padding-right: 35px; }
  .back2edit .alert-dismissable .close,
  .back2edit .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.back2edit .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .back2edit .alert-success hr {
    border-top-color: #c9e2b3; }
  .back2edit .alert-success .alert-link {
    color: #2b542c; }

.back2edit .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }
  .back2edit .alert-info hr {
    border-top-color: #a6e1ec; }
  .back2edit .alert-info .alert-link {
    color: #245269; }

.back2edit .alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }
  .back2edit .alert-warning hr {
    border-top-color: #f7e1b5; }
  .back2edit .alert-warning .alert-link {
    color: #66512c; }

.back2edit .alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }
  .back2edit .alert-danger hr {
    border-top-color: #e4b9c0; }
  .back2edit .alert-danger .alert-link {
    color: #843534; }

.back2edit > button.btn-back2edit {
  position: fixed;
  right: 90px;
  top: 10px;
  z-index: 100000; }

.back2edit * {
  box-sizing: border-box; }
