@charset "utf-8";

@import "partials/fonts";

@import "partials/variables";

@import "partials/partial_bootstrap";

@import "partials/mixins";
@import "partials/bootstrap_mixins";

@import "partials/contentelements";

@import "partials/baglist";
@import "partials/bagdetail";
@import "partials/checkout";
@import "partials/orderhtml";
@import "partials/newsletter_legacy";

body {
  background-color: #dad9da;

  font: $f-copy;

  &.page-dark .content-container,
  &.page-dark header {
    color: white;

    a {
      color: white;
    }
  }

  &.page-light .content-container {
    color: black;
  }
}

#page-body {
  a:hover {
    text-decoration: underline;
  }
}

strong {
  color: unset;
}

.topcontainer {
  border: 1px solid teal;
}

.button {
  border-radius: 0;
  text-transform: uppercase;
  font: $f-button;
}

.content-container {
  min-height: 95vh;
}

// #pagewrapper {
//   max-width: $w-maxwidth;
//   margin: 0 auto;
//   background-color: #fff;
// }

// #whole-content>section>div.ce-container {
// @include make-container();
// @include make-container-max-widths;
// }

h1 {
  font: $f-h1;
}

.text-klein,
.copyright {
  font: $f-txtklein;
}

.ce-breadcrumbtrail {
  font: $f-txtklein;
}

.ce-image {
  figure {
    img {
      display: block;
    }
  }
}




.main-content {
  margin-top: $main-content-top;

  // border: 1px dotted green;

  // max-width: 1000px;
  opacity: 0.2;
  transition: opacity 1000ms linear;
  // z-index: 10;
  position: relative;

  &.visible {
    opacity: 1;
  }

  .page-ProductVariant & {
    margin-top: 0px;
  }
}

.main-content.has-navcol {
  #section-nav {
    // margin-left: 2em;

    .page-light & a {
      color: $c-textgrey;


    }

    .count {
      display: none;
      // opacity: 0.7;
      // font-size: .9em;
    }

    .submenu {
      margin-left: 1em;
      margin-bottom: .3em;
      display: none;

      a {
        font-weight: normal;
      }

      &.active {
        display: block;
      }
    }

    a {

      &:hover,
      &.active {
        color: black;
      }

      &.link-sale {
        margin-top: 1em;
        color: $c-about;
      }


    }
  }

  .nav-col {
    margin-bottom: 4rem;
    margin-left: 2em;

  }

  @include media-breakpoint-up(sm) {
    .nav-col {
      margin-left: 0;
    }

    .main-col {
      margin-left: -(2*$w-tab);
    }
  }

  @include media-breakpoint-up(lg) {
    #section-nav {
      margin-left: 0;
    }

    .main-row {
      @include make-row();
      flex-wrap: nowrap;
      position: relative;
      justify-content: space-between;

      .nav-col {
        @include make-col-ready();
        @include make-col(2);
        // max-width: 10rem;
        margin-bottom: 0;
        margin-left: 0;
        text-align: left;



        #section-nav {
          position: fixed;


        }
      }

      .main-col {
        margin-left: 0;
        // border: 1px dotted orange;
        @include make-col-ready();
        // @include make-col-auto();
        flex: 0 0 auto;
        flex-shrink: 1;
        flex-grow: 1;

      }
    }
  }

  #section-nav a {
    display: block;
    font-weight: bold;

    &.current-page,
    &.active,
    &:hover {
      .page-info & {
        color: #aaa;
      }

      position: relative;

      @include media-breakpoint-down(xs) {
        &:before {
          content: 'â¦ ';
          font-size: 1.5em;
          left: -.5em;
          top: -.1em;
          position: absolute;
        }
      }

      color: black;
    }
  }
}

footer {
  // margin-top: 1em;
  padding-top: 2em;
  background: #000;
  min-height: $h-footer;
  // z-index: 40;
  position: relative;
  color: white;

  a {
    color: white;

    &:hover {
      color: yellow;
      text-decoration: none;
    }
  }

  .footer-inner {
    @include ce_width(12);
  }

  .columns {
    @include make-row();
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;

    >div {
      // padding: 1em;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


  // .bottomnav {
  // padding: 1em;
  // }
}

body.lang-de {
  .en-only {
    display: none;
  }
}

body.lang-en {
  .de-only {
    display: none;
  }
}

header {
  // display: none;
  padding-top: 1em;
  margin-bottom: 1em;

  @include media-breakpoint-up(sm) {
    position: absolute;
    z-index: 40;
    top: 0;
    width: 100%;

    .header-outer {
      // border: 1px solid blue;
      margin-left: -$w-tab/2;
      margin-bottom: 0;
    }

    .header-inner {
      margin-right: $w-tab;
    }
  }

  .header-inner {
    // border: 1px solid orange;

    display: flex;
    justify-content: space-between;
    align-content: center;

    >.logo {
      // border: 1px dotted blue;

      img {
        // border: 1px solid green;
        // display: none;
        max-width: 100%;
        padding-left: 1em;
      }

      flex: 0 1 200px;

      @include media-breakpoint-up(sm) {
        img {
          padding-left: unset;
        }

        flex: 0 0 220px;

        img {
          height: 1.1em;
          width: auto;
          position: fixed;
        }

        padding-right: 2em;
        padding-left: 0;
      }
    }

    >.burger {
      // border: 1px solid green;
      flex: 0 0 3em;
      text-align: center;

      a {
        color: black;

        body.page-dark & {

          color: white;
        }
      }
    }

    >.langchooser {
      text-transform: uppercase;
      font-size: 0.9em;

      a {
        font-family: $ff-book;



        body.lang-de &.link-de,
        body.lang-en &.link-en {
          font-family: $ff-copy;
          font-weight: bold;
          display: none;
        }
      }
    }

    >.search {
      visibility: hidden;
      flex: 1 1 80%;
      // border: 1px solid red;
      text-align: center;

      label {
        text-transform: uppercase;
      }

      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        background: transparent;
      }
    }



    #cart-infobox {
      margin-top: 1em;
      border: 1px solid black;
      padding: 2em 1em;
      // z-index: 100;
      background: white;
      position: absolute;

      p {
        font-size: .9em;
      }

      .btn {
        width: 100%;
      }
    }

    >.icons {
      // display: none !important;
      flex: 1 0 20%;
      font-size: 1em;

      >i {
        margin-right: 1em;
      }

    }

    .fa-layers {
      // border: 1px solid red;
      position: relative;

      .cart-count {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: .7em;
        // border: 1px solid blue;
      }
    }

    .currencypicker {
      display: none;
      // display: inline-block;

      //   border: 1px solid red;
      .chooser {
        position: absolute;
        // border: 1px solid blue;
        display: none;

        >* {
          display: block;
          margin: 0.4em 0;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.typography {
  @import "partials/typography";
}

.main-content {
  // border: 1px solid orange;
}

body {
  @include media-breakpoint-up(sm) {
    .main-col>.ce {
      padding-left: $w-tab;
      padding-right: $w-tab;
    }
  }


  &.page-HomePage,
  &.page-MysiteErrorPage {
    background-color: $c-home;

    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 0;
        margin-right: $w-tab * 4;
      }

      .main-content {
        margin-top: 0;
      }

      .header-inner,
      .footer-inner {
        margin-left: $w-tab;
        margin-right: $w-tab;
      }
    }
  }

  &.page-shop {
    background-color: $c-bags;



    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 2;
        margin-right: $w-tab * 3;
      }

    }
  }

  &.page-MysiteErrorPage {
    .main-content {
      padding: 2em;
      padding-top: 10em;
    }
  }

  &.page-about {
    background-color: $c-about;

    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 3;
        margin-right: $w-tab * 2;
      }
    }
  }

  &.page-blog {
    background-color: $c-blog;

    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 4;
        margin-right: $w-tab * 1;
      }
    }
  }

  &.page-info {
    background-color: $c-info;

    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 5;
        margin-right: $w-tab * 0;
      }
    }
  }

  &.page-txt {
    background-color: white;

    @include media-breakpoint-up(sm) {

      .main-content,
      .header-outer,
      .footer-outer {
        margin-left: $w-tab * 5;
        margin-right: $w-tab * 1;
      }
    }
  }
}

#pagenav {
  // margin-top: 1em;
  display: none;

  .page-HomePage & {
    display: block;
  }

  .mobile-langchooser {
    background: white;
    padding: .5em 1em;

    a {
      text-transform: uppercase;

      body.lang-de &.link-de,
      body.lang-en &.link-en,
      &:hover {
        font-weight: bold;
      }
    }
  }

  >a,
  >span {
    transition: padding-bottom 0.3s ease-out;

    display: block;
    padding: 9px 9px;

    >span,
    >a {
      color: white;
      font-weight: bold;
      margin-left: 0.5em;
    }

    &.nav-home {
      display: none;
    }

    &.nav-about {
      background-color: $c-about;

      .is-preview & {
        background-color: yellow;

        >span {
          color: black;
        }
      }
    }

    &.nav-shop {
      background-color: $c-bags;

      >span,
      >a {
        color: #333;
      }
    }

    &.nav-blog {
      background-color: $c-blog;
    }

    &.nav-info {
      background-color: $c-info;
    }

    &.just-activated {
      padding-bottom: 90vh;
    }
  }

  @include media-breakpoint-up(sm) {
    // border: 1px solid red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    // z-index: 5;
    margin-top: 0;

    >a,
    >span {
      transition: all 0.3s ease-out;

      padding: 0 0;

      &.nav-home {
        display: block;

        >span,
        >a {
          display: none;
        }

        &.not-active {
          flex-basis: 0px;
        }
      }

      &.not-active {
        flex: 0 0 $w-tab;
      }

      &.active {
        flex: 1 0 $w-tab;
      }

      &.current-content {
        background-color: transparent !important;
      }

      // border-left: 1px solid white;
      // border-right: 1px solid white;

      position: relative;

      >a,
      >span {
        width: $h-pagenav_text;
        display: block;
        position: absolute;
        font-size: 1.2em;
        top: $h_pagenav_text + 23px;
        // border: 1px solid white;
        // text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: top left;
        text-align: right;
        // z-index: 20;
        font-weight: bold;
        font-size: 26px;
        margin-left: 0;
      }
    }
  }
}


.preview-only {
  display: none;
  visibility: hidden;
}

.is-preview {
  .preview-only {
    display: block;
    visibility: visible;

  }

}
