@charset "utf-8";

@import "partials/fonts";

@import "partials/variables";

@import "partials/partial_bootstrap";

@import "partials/mixins";
@import "partials/bootstrap_mixins";

@import "partials/contentelements";

@import "partials/products";
@import "partials/checkout";
@import "partials/orderhtml";

body {
  background-color: #fff;
  color: $c-red;
  font-family: $ff-copy;


  a {
    color: $c-red;
  }
}


.topcontainer {
  @include topcontainer();
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @include ce_inner(12);

}

.topheader {
  margin-top: 3rem;

  .ce-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      flex-basis: 2em;

      img[src*=".svg"] {
        width: 100%;
      }
    }
  }
}


.mainheader {
  margin-top: 3rem;

  margin-bottom: 10rem;

  .ce-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {

      img {
        width: 100%;
        height: auto;
      }

      text-align: center;
    }

    div.logo {
      flex: 1 1 80%;

    }

    div.carticon {
      flex: 1 1 20%;

    }
  }
}
