<div class="pagetree-chooser" ng-if="app.tabList && app.tabList.length>1">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active:(tab.key==app.activeTabKey)}" ng-repeat="tab in app.tabList">
      <a href="javascript:void(0)" ng-click="app.choosePortal(tab.key)">{{tab.name}}</a>
    </li>
  </ul>
</div>


<div class='pagetree-viewtoggle' ng-show="app.settings.mode=='cms'">

  <div class="pagetree-viewtoggle-inner">
    
    <span class="dimmed">{{labelClickMode}} ➜ </span>
    <span ng-show="app.currentClickMode=='preview'" ng-click="app.setCurrentClickMode('edit')"  >{{labelPreviewMode}} <i class="fa fa-toggle-on fa-lg" ></i></span>
    <span ng-show="app.currentClickMode=='edit'" ng-click="app.setCurrentClickMode('preview')">{{labelEditMode}} <i class="fa fa-toggle-off fa-lg" ></i></span>
  </div>
</div>
