.product-detail {
  width: 100%;
  // border: 1px solid red;
  max-width: 1200px;

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  .btn-intocart {
    width: 100%;
  }


  .detail-thumbnails {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      flex: 0 0 150px;
      padding-top: $h-upperlimit;
      // border: 1px solid red;

      .thumbnail-container {
        display: flex;

        &.scroll-end {
          position: absolute !important;
          bottom: 0;
        }

        &.scroll-start {
          position: fixed;
        }

        // border: 1px solid green;

        >a {
          flex: 1 1 auto;
          display: block;
          text-align: center;
          color: black;
        }

        >.bagdetail {
          margin-right: 1em;
          // border: 1px solid red;
          flex: 0 0 50px;

          img {
            max-width: 100%;
            display: block;
            margin-bottom: 1em;
            cursor: pointer;

            &:hover,
            &.active {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .detail-left {
    flex: 1 0 40%;
    overflow: hidden;

    .imagelist-mobile {
      // border: 1px solid red;

      .swiper-pagination-fraction {
        bottom: unset;
        top: 0;
        text-align: left;
        padding-left: 1em;
        padding-top: 1em;
        font-size: 0.8em;
      }

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .image-list-fullscreen {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .image-list {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
        // border: 1px solid blue;
        position: relative;
        // overflow: hidden;
        // height: 100vh;
        width: 100%;

        figure.zoom {
          & img:hover {
            opacity: 0;
          }

          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }

          background-position: 50% 50%;
          position: relative;
          width: 500px;
          overflow: hidden;
          // cursor: zoom-in;
          cursor: url(/mysite/images/zoom_cursor.png),
          url(/mysite/images/zoom_cursor.cur),
          crosshair;
        }

        figure.prod-image {
          max-width: 100%;
          height: auto;
          display: block;
          border: none;
          margin-top: 1em;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  .detail-right {
    flex: 1 0 40%;
    display: block;

    // border: 1px solid red;
    overflow: hidden;

    .product-info {
      @include px(2em);
      @include py(2em);

      h2 {
        font-size: 18px;
      }

      h1 {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 3rem;
      }

      .price {
        font-weight: bold;
        margin-bottom: 2rem;
      }

      label {
        // margin-top: 1em;
        // display: block;
        // min-width: 5em;
        margin-right: 0.5em;

        @include media-breakpoint-down(xs) {
          display: block;
          margin-top: 1em;
          position: relative;
          left: -.5em;
        }
      }

      .factblock {
        display: inline-block;
        vertical-align: top;
        margin-bottom: .5em;
      }

      .description {
        margin-top: 4em;
        max-width: 35em;
      }

      @include media-breakpoint-up(sm) {
        width: 40%;
        padding-left: 2em;
        padding-right: 1em;
        padding-top: $main-content-top;
        font-size: 12px;

        &.scroll-end {
          position: absolute !important;
          bottom: 0;
        }

        &.scroll-start {
          position: fixed;
        }

      }
    }

    .variants {
      margin-right: auto;
      width: auto;
      position: relative;
      max-width: 300px;

      &.use-dropdown {
        a {
          border: 1px solid grey;
          padding: 1em;
          border-top: none;
          color: black;

          font-size: 11px;

          &.opener {
            border-width: 1px solid black;
          }

          display: flex;

          >.swatch {
            flex: 0 0 2em;
          }

          >.text {
            flex: 1 1 50%;
          }

          >.marker {
            flex: 1 1 50%;
            text-align: right;

            i {
              font-size: 1.4em;
              visibility: hidden;
            }
          }

          &:first-child {
            border-top: 1px solid grey;
          }

          .swatch>i {
            // border: 1px solid #ddd;
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
            vertical-align: top;
            border-radius: 200px;
            margin-right: 1em;
          }

          &.active,
          &:hover {
            text-decoration: none;

            .marker i {
              visibility: visible;
            }
          }
        }
      }

      &.no-dropdown {
        a {
          display: flex;
          align-items: center;
          @include my(1em);

          >.swatch {
            flex: 0 0 3em;
          }

          >.text {
            flex: 1 1 50%;
          }

          >.marker {
            display: none;
          }

          .swatch>i {
            // border: 1px solid #ddd;
            width: 35px;
            height: 35px;
            display: inline-block;
            vertical-align: top;
            border-radius: 200px;
            margin-right: 1em;
            border: 0.4em solid white;
          }

          &.active,
          &:hover {
            .swatch>i {
              box-shadow: 0px 0px 0px 1px black;
            }
          }
        }
      }
    }

    // .bodytext {
    // font-size: .9em;
    // }
  }
}
