.bag-list-page {

    display: flex;
    margin-left: 1em;
    margin-right: 1em;


    >.list-main {
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;

        h1 {
            font-size: 1.5em;
        }
    }


}

$w-gap: 20px;

#baglistapp,
.bag-list-page h1 {

    max-width: ($w-gap+600px)*3;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bag-list-page h1 {
    margin-bottom: 2em;
}

.bagsearch {
    position: relative;

    @include media-breakpoint-down(xs) {
        @include px(.5em);

        .filters.expandable {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10000;
            background: white;

            display: flex;
            flex-direction: column;
            justify-content: stretch;
            height: 100vh;

            >.filterpane {
                flex: 1 1 auto;

                overflow: auto;

                .f-header {
                    display: flex;
                    margin: 1em;
                    justify-content: stretch;

                    >.f-title {
                        flex: 1 1 auto;
                        text-transform: uppercase;
                    }

                    >.f-closer {
                        flex: 0 0 auto;
                    }
                }
            }

            >.buttonpane {
                // border: 1px solid red;
                border-top: 1px solid #ddd;
                flex: 0 0 auto;
                display: flex;

                >div {
                    padding: 1em;
                    // border: 1px solid red;
                    flex: 1 1 50%;
                    text-align: center;
                }

                .btn-outline-secondary {
                    color: black;
                }

                .btn-primary {
                    background-color: black;
                    color: white;
                }
            }

            overflow: hidden;

            transition: width .5s ease-in-out;

            .closer {
                position: absolute;
                right: 1em;
                top: 1em;
            }

            &.expanded {
                width: 100vw;
            }

            &.collapsed {
                width: 0;
            }

        }

        .tag-chooser {
            padding: 1em;
        }
    }

    @include media-breakpoint-up(sm) {
        .filters {
            background: rgba(white, 0.92);
            // position: absolute;
            // z-index: 1000;

            width: 100%;

            .filterpane {
                display: flex;

                >div {
                    flex: 1 1 20%;
                }
            }
        }

        .filters.expandable {
            .mobile {
                display: none;
            }

            overflow: hidden;

            transition: max-height .7s ease-in-out;


            &.expanded {
                max-height: 500px;
            }

            &.collapsed {
                max-height: 0;
            }
        }

        .tag-chooser {
            max-width: 300px;
            min-height: 300px;
            // border-top: 1px solid #ccc;
            //   border-bottom: 1px solid #ccc;

            vertical-align: top;
        }

    }

    .bagsearch-title {
        .text {
            margin-left: 0.5em;
        }

        .filtercount {
            visibility: hidden;
        }

        &.collapsed.filters-set {
            .opener {
                font-weight: bold;
            }

            .filtercount {
                visibility: visible;
            }
        }

        text-transform: uppercase;
        font-size: 13.5px;

        .opener {
            margin-right: 3em;
        }

        .resetter {
            color: #888;
        }

        a.opener {
            font-weight: bold;
        }

        margin-bottom: 1em;
    }

}


.tag-chooser {



    .tag-chooser-title {
        font-weight: bold;
        // font-size: 13.5px;
        // @include font-size(1.1rem);
        font-size: 13.5px;


        text-transform: uppercase;
    }

    .tagfilter {
        // border: 1px solid #ccc;
        margin-top: 0.7em;
        margin-left: 0;
        padding-left: 0;

        a {
            cursor: pointer;
        }

        list-style: none;

        >li {
            color: $c-textgrey !important;

            &.active {
                // font-weight: bold;
                color: black;
            }

            display: block;
            margin-right: 1em;
            @include font-size(1rem);
            padding: 0.2em 0;
        }

        a {
            display: inline-block;
        }

        i {
            margin: 0.3em;
        }
    }
}

.baglist {
    margin-bottom: 10em;
    overflow: hidden;

    .b-pagination {
        margin-top: 2em;

        .page-item {
            &.active {
                font-weight: bold;

                .page-link {
                    background: none;
                    color: black;
                }
            }

            .page-link {
                border: none;
                border-radius: 50rem !important;
                margin-left: 0.25rem;
                line-height: 1;
            }
        }

        .page-item.disabled .page-link {
            opacity: 0.1;
        }
    }


    .prod-list>div {
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        margin-left: -$w-gap;
        margin-right: -$w-gap;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;

        &:last-child {
            border-bottom: none;
        }

        .notfound {
            padding: 2em;
            text-align: center;
            width: 100%;

            .notfound-pic {
                text-align: center;

                img {
                    max-width: 50px;
                }


                margin-bottom: 1em;
            }
        }

        >a {
            flex-basis: 50%;
            max-width: 50%;

            @include sm {
                flex-basis: 50%;
                max-width: 50%;
            }

            @include lg {
                flex-basis: 33.3%;
                max-width: 33.3%;
            }

            // @include rwd(1300) {
            //     flex-basis: 25%;
            //     max-width: 25%;
            // }

            position: relative;
            padding-bottom: $w-gap;
            padding-left: $w-gap/2;
            padding-right: $w-gap/2;


            .imgpane {
                margin-bottom: 3em;

                @include media-breakpoint-up(sm) {
                    margin-bottom: 0;
                }

                display: block;
                height: 0;
                position: relative;
                // overflow: hidden;
                padding-bottom: percentage(755px/600px);
                // border: 1px solid red;

                // margin-bottom: 0.5em;
                &:hover {
                    img.on-hover {
                        display: block;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                    position: absolute;
                    display: block;


                    &.on-hover {
                        display: none;
                    }
                }

                .variant-title {
                    text-align: center;
                    @include font-size(.8rem);
                    position: absolute;

                    // border: 1px solid green;
                    // top: 0;
                    top: 100%;
                    left: 0;
                    right: 0;
                    padding-top: .5em;

                    @include media-breakpoint-up(sm) {
                        bottom: 1em;
                        padding-top: 0;
                        top: unset;
                    }

                    z-index: 1;
                    @include px(1em);
                    overflow: visible;

                    color: black;

                    .price {
                        // font-weight: bold;
                        margin-left: 0.4rem;
                        font-family: $ff-book;
                    }
                }


            }

            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }

            &.cnt-1 {

                .swiper-button-next,
                .swiper-button-prev,
                .swiper-pagination {
                    display: none !important;
                }
            }

            &:hover {

                .swiper-button-next,
                .swiper-button-prev {
                    display: block;
                    color: black;
                    width: (27px/2);
                    height: (44px/2);
                    background-size: (27px/2) (44px/2);
                }

                .swiper-button-prev {
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23222222'%2F%3E%3C%2Fsvg%3E");
                }

                .swiper-button-next {
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23222222'%2F%3E%3C%2Fsvg%3E");
                }
            }

            .swiper-pagination-bullet-active {
                background: black;
            }
        }
    }
}
