@font-face {
    font-family: 'aspirin-expanded';
    src: url('/mysite/webfonts/aspirin-extra-expanded-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aspirin-condensed';
    src: url('/mysite/webfonts/aspirin-extra-condensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bookman';
    src: url('/mysite/webfonts/bookman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bookman';
    src: url('/mysite/webfonts/bookman_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
