@font-face {
    font-family: 'Polaris';
    src: url('../../fonts/Polaris-Medium.eot');
    src: url('../../fonts/Polaris-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Polaris-Medium.woff') format('woff'), url('../../fonts/Polaris-Medium.svg#Polaris-Medium') format('svg');
}

@font-face {
    font-family: 'Polaris';
    src: url('../../fonts/Polaris-Bold.eot');
    src: url('../../fonts/Polaris-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Polaris-Bold.woff') format('woff'), url('../../fonts/Polaris-Bold.svg#Polaris-Bold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Polaris Book';
    src: url('../../fonts/Polaris-Book.eot');
    src: url('../../fonts/Polaris-Book.eot?#iefix') format('embedded-opentype'), url('../../fonts/Polaris-Book.woff') format('woff'), url('../../fonts/Polaris-Book.svg#Polaris-Book') format('svg');
}

@font-face {
    font-family: 'Polaris Light';
    src: url('../../fonts/Polaris-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'Polaris Light';
    src: url('../../fonts/Polaris-Bold.eot');
    src: url('../../fonts/Polaris-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Polaris-Bold.woff') format('woff'), url('../../fonts/Polaris-Bold.svg#Polaris-Bold') format('svg');
    font-weight: bold;
}


@font-face {
    font-family: 'bsst';
    src: url('../../fonts/bsst.ttf') format('truetype');

}
