<div class="shopitemchooser bootstrap group" data-articleid="{{app.selectedShopItem.articleId}}" data-amount="{{app.currentAmount}}">


  <div class="oldprice" ng-show="app.selectedShopItem.listPrice"><span class="instead">Statt</span> {{app.selectedShopItem.listPrice}} <i class='fa fa-euro'></i></div>
  <div class="price"><span class="only" ng-show="app.selectedShopItem.listPrice">nur</span>{{app.selectedShopItem.price}} <i class='fa fa-euro'></i></div>

  <div class='kennenlernprice' ng-show="app.settings.showKennenlernPrice && app.selectedShopItem.kennenlernPrice">
   <a href='/de/20-kennenlern-einkauf/' target="_blank">Kennenlernpreis:</a>
   <span>{{app.selectedShopItem.kennenlernPrice}} <i class='fa fa-euro'></i></span>
   <a href='/de/20-kennenlern-einkauf/' target="_blank"><i class='fa fa-info-circle fa-lg'></i></a>
  </div>

  <div class="infoline">inkl. 20% MWST zzgl. <a href="/de/kundenservice/versand/" target="_blank">Versandkosten</a></div>


  <div class="variant-title">Größe / Länge / Farbe:</div>
  <div class="shopitem current" >
    <div class="text">
      <span class="title">{{app.selectedShopItem.title}}</span>
      <span class="deliveryinfo"> (<span ng-show="app.selectedShopItem.inStock">sofort lieferbar</span>
      <span ng-hide="app.selectedShopItem.inStock"  ng-bind-html="app.settings.zeroStockInfo | trusted"></span>)</span>
    </div>

    <button class="btn btn-sm btn-info pull-right choose-btn" type="button" ng-click="app.chooseMode=!app.chooseMode" ng-show="app.settings.shopItems.length>1"><i ng-class="{fa:true,'fa-caret-up':app.chooseMode,'fa-caret-down':!app.chooseMode}"></i></button>



  </div>

  <div class="group">

      <ul class="variants" ng-class="{'choosemode':app.chooseMode}">
        <li ng-repeat="shopItem in app.settings.shopItems" class="shopitem" ng-class="{'active':app.selectedShopItem.articleId==shopItem.articleId}" ng-click="chooseItem(shopItem)">
            <span class="title">{{shopItem.title}}</span>
        </li>
      </ul>
  </div>

  <div class="group cart-add-line">
    <div class='pull-right align-right' >
      <div ng-show="app.settings.isHidden">
        <button class="btn  intocart" type="submit" disabled><i class="icon-white icon-plus"></i> in den Warenkorb</button>
        <div>&nbsp;</div>
        <div class='alert alert-danger'><i class="icon-warning-sign"></i> Dieses Produkt ist zur Zeit nicht verfügbar.</div>
      </div>
      <div ng-hide="app.settings.isHidden">
        <button class="btn btn-info  intocart" type="button" ng-disabled="!(app.selectedShopItem.maxAmount && app.currentAmount>0)"><i class='fa fa-chevron-right'></i> in den Warenkorb</button>
      </div>
    </div>
    <select class="amount_dd" ng-show="app.selectedShopItem.maxAmount" ng-model="app.currentAmount" class="form-control" ng-options="n for n in [] | range:1:app.selectedShopItem.maxAmount">
    </select>


  </div>

</div>

