/* navigation */

#nav {
  position: relative;
  width: 100%;
  font-size: 1.3em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#nav ul {
  margin: 0 auto;
  padding: 0;
  background: black;
}
#nav ul li {
  list-style: none;
  float: left;
  margin: 0 0 0 0;
  /*width: 100px;
*/border-right: 1px solid #87705d;
  padding: 0;
}
#nav ul li a {
  display: block;
  /*width: 100px;
*/text-align: center;
  padding: 4px 12px;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #f3f2e8;
}

#nav ul li a.current,
#nav ul li a:hover {
  background: #8bb905;
  color: black;
  font-weight: bold;
}


/* subnavigation */

#subnav {
  background: #8bb905;
  position: relative;
  width: 100%;
  padding-top: 5px;
}
#subnav ul {
  margin: 0px auto 0 auto;
}
#subnav ul li {
  float: left;
  margin: 0 0 0 0;
}
#subnav ul li a {
  display: block;
  width: 80px;
  text-align: center;
  padding: 2px 5px 2px 5px;
  font-size: 10px;
  text-decoration: none;
  color: #222;
}

#subnav ul li a.current,
#subnav ul li a:hover {
  background: #fff;
}

/* self-clear floats */

.group:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}




#header {
  background: #888 url("/Mwerkzeug/images/linen_bg.png") repeat top left;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-family: arial;
}
#header-inner {
      position: relative;

  background-color: #333;
  background-color: rgba(0,0,0,0.3);
}


  #header .header-text {
    font-size: 15px;
    padding: 10px;
  }
  #header .header-text-right {
    position: absolute;
    right:10px;
    top:3px;
    text-align: right;
    font-size: 13px;
    
  }
  #header .header-text-right a {
      color:white;
      font-weight: bold;
    }


