/* 
Title:      Master styles for screen media
Author:     dan@simplebits.com
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #51463d;
  font-size: 62.5%;
  background: #fff;
}

/* links */

a {
  text-decoration: none;
  color: black;
}


a.text-icon-link {
  color: white;
  font-weight: normal;
  margin-left: .5em;
  font-size: 11px;
  padding: 0.2em 1em 0.2em 20px;
  position: relative;
  text-decoration: none;
}

span.text-icon-link-icon {
  left: 0.2em;
  margin: -9px 5px 0 0;
  position: absolute;
  top: 50%;
}

/* page structure 
--------------------------------------------- */


.main {
  float: right;
  width: 73%;
}

.secondary {
  float: left;
  width: 25%;
}

#footer {
  clear: both;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  font-size: 0.5em;
  color: #696;
  border-top: 2px solid #e2e1d4;
}

/* header 
--------------------------------------------- */

#header {
  // border-bottom: 1px solid #fff;
  background: #888 url('/Mwerkzeug/images/linen_bg.png') repeat top left;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-family: arial;
}

#header-inner {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.3);
}


.header-top {
  position: relative;
}



#top {
  font-size: 12px;
}

/* logo */



/* top */

#top {
  margin: 0 0 0 15px;
}

#top h1 {
  float: left;
  width: 300px;
  color: white;
  font-size: 1.7em;
}

#top h1 img {
  display: block;
  height: 0;
}

#top p {
  float: right;
  margin: 4px 15px 4px 0;
  line-height: 1.2;
}

#top p a {
  color: white;
  font-weight: bold;
}






.infodiv {
  font-size: 1.2em;
  color: #666;
  padding: 20px 10px;
}

/* main styles 
--------------------------------------------- */



/* headings */


/* dblists  (can be TABLE's or UL's)
--------------------------------------------- */

/*  dblist TABLE version */

table.dblist {
  border-collapse: collapse;
  margin: 10px;
}



.dblist td,
.dblist th {
  border: 1px dotted #aaa;
  padding: 5px;
  vertical-align: top;
}

.dblist th {
  font-weight: normal;
  background: #ccc;
  padding: 1px;
  border-bottom: 2px solid #888;
}


/*  dblist UL version */

ul.dblist {
  margin: 10px;
}

.dblist li .item {
  position: relative;
  display: block;
  margin: 10px;
}


.dblist li div.right {
  position: relative;
  float: left;
  padding: 5px;
  color: #9c836e;
}

.dblist li div.left {
  position: relative;
  float: left;
  padding-right: 5px;
  border-right: 1px dotted #ccc;
}

ul.buttonlist li {
  padding: 5px 0px;
}

.loading div {
  margin-left: 40px;
}

.simpleitem {
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #c2fe94;
  color: #000;
  width: 500px !important;
  border: 1px solid #a2ce74;
}

.invisible .simpleitem {
  background: #ddd;
  color: #fff;
  border: 1px solid #ccc;
}



/* SORTMODE */

.sortinfo {
  margin: 10px;
  padding: 10px;
  background: yellow;
  display: none;
}

.dblist.sort_active li .item {
  background: #bbb;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.for_ie_sort {
  display: none !important;
}



/* hide video objects in lists */
.dblist object {
  display: none;
}

.iconbutton.ajaxlink {
  visibility: hidden;
}

.dblist tr.checkboxtable_checkboxrow {
  background: #ccc;
}

.checkboxtable_choosediv {
  margin: 10px 0px 10px 40px;
}



.leftmenu {
  float: left;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #8bb905;
  margin-right: 10px;
}

.leftmenu .menu {
  margin: 10px;
}

.leftmenu li a {
  display: block;
  color: white;
  margin: 2px 2px;
  border-left: 5px solid transparent;
  padding-left: 5px;
}

.leftmenu li.current a {
  font-weight: bold;
  border-left: 5px solid white;
}


.articleitem img {
  float: left;
  margin-right: 10px;
}


.sortdate {
  float: right;
  color: rgba(100, 100, 100, 0.6);
}


/* footer 
--------------------------------------------- */

#footer a {
  color: #51463d;
}

/* misc. 
--------------------------------------------- */

hr,
.hide {
  display: none;
}

a img {
  border: none;
}

/* self-clear floats */

.group:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


#result .dblist li.Offline,
.dblist li.Offline .item {
  background: #ddd;
}

#result .dblist li.Published,
.dblist li.Published .item {
  background: #dfd;
}

#result .dblist li.Published.apa,
.dblist li.Published.apa .item {
  background: #fcc !important;
}

#result .dblist li.Offline.apa,
.dblist li.Offline.apa .item {
  background: #fff !important;
}



#result .dblist li.ZumKorrekturlesen,
.dblist li.ZumKorrekturlesen .item {
  background: #ddd;
  border: 2px dotted #222;
}
