$f-text: verdana,arial;

body {
  margin: 0px;
  font-family: $f-text;
}

* {
  box-sizing: border-box;
}

$c-textblue: #399adb;
$c-tab-grey: #6d7780;
$c-top-grey: #35434e;


.page-edit {
  background-color: #fff;

  #previewframe {
    width: 100%;
    max-width: 1200px;
    height: 40px;
    margin: 0px 0px;
    border: 0;//1px solid #999;
    overflow:hidden;
  }
}



.pagearea-top {
  width: 100%;
  background: $c-top-grey;
  color: white;
  margin-bottom: 10px;
  h1 {
    position: relative;
    padding: 20px 0 20px 26px;
    .title-long {
      margin-top: 5px;
      font-weight: normal;
      font-size: 0.8em;
    }
    small.tinylabel {
      margin-left: 20px;
      font-weight: normal;
      // border:1px solid white;
      // border-radius: 2px;
      background-color:rgba(white,0.2);
      color:$c-top-grey;
      padding:2px;
      display: inline-block;
      // color:white;
      font-size: 10px;
      position: relative;
      top:-1px;
    }

    > i.fa {
      position: absolute;
      left:0;
      top:20px;
      font-weight: normal;

    }


    font-size: 18px;
    .page-url {
      font-size: 11px;
      color: lighten($c-top-grey,40%);
      margin-top: 5px;
      margin-left: 0px;
      font-weight: normal;
      > b {
        color:white;
        font-weight: normal;
        margin-left: 5px;
        font-size: 12px;
      }

    }

    .page-class {
      font-size: 11px;
      margin-top: 5px;
      margin-left: 0px;
      font-weight: normal;
      color: lighten($c-top-grey,40%);
      > em {
        font-style: normal;
                color:white;

      }
    }
    #page-history {
      padding:20px 5px;
      display: none;
    }
  }
  position: relative;
  .right-top {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.pagearea-main {
  margin: 10px;
}



iframe {
  border: 0;
  outline: 0;
}

.Page-index #wrap,
#header {
  min-width: 768px;
}


.main-headline {
  border-bottom: 1px solid;
  background: $c-top-grey;
  color: white;
}

.formsection {
  max-width: 600px;
  font-size: 13px;
  margin: 0 20px;

  .form-group {
    @include container();
    .control-label {
      @include span(first 3 of 12);
    }
    .form-control-wrap {
      position: relative;
      @include span(last 9 of 12);

      .ui-datepicker-trigger {
        position: absolute;
        left: 140px;
        top: 0px;
        height: 34px;
        border: 1px solid #ccc;
        padding: 10px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: #eee;
        &:hover {
          background: #ddd;
        }
      }
    }
  }

  label i {
    display: block;
    font-size: 0.7em;
    font-style: normal;
    font-weight: normal;
    margin-left: 0.5em;
    text-align: right;
  }
  input.form-control {
    padding-top: 0;
    padding-bottom: 0;
  }
  .help-block {
    margin: 0;
  }
}


.tabstrip {
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 13px;

  li {
    display: inline-block;
    background: $c-tab-grey;
    padding: 10px 16px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-top: 4px;
    a {
      color: #eee;
    }
    &.current {
      background: white !important;
      a {
        color: $c-textblue;
      }
    }
    &:hover {
      background: lighten($c-tab-grey,20%);
    }
  }
}

// .tabstrip {
//   margin: 0;
//   padding: 0 0 0 10px;
//   font-size: 13px;
//   display: table;
//   li {
//     display: table-cell;
//     padding:0 2px;
//     white-space: nowrap;
//     a {
//       background: $c-tab-grey;
//       padding: 10px 16px;
//       border-top-right-radius: 3px;
//       border-top-left-radius: 3px;
//       margin-top: 4px;
//       color: #eee;
//       &.current {
//         background: white;
//         color: $c-textblue;
//       }
//       &:hover {
//         background: lighten($c-tab-grey,20%);
//       }
//     }
//   }
// }


.action-treeframe {
  background: $c-top-grey;
  .jstree-classic.jstree-focused {
    background: transparent;
  }
  .jstree a {
    color: white;
  }
}


.page-edit-main {
  margin: 20px 20px;
}


$l-container: (columns: 16, gutters: 0, container:1180px);
$w-page-width: 1180px;
$w-page-width-sm: 800px;
$w-page-width-xs: 600px;

.topcontainer {
  @include container($l-container);
  .page-width-sm & {
    max-width: $w-page-width-sm;
  }
  .page-width-xs & {
    max-width: $w-page-width-xs;
  }
}



// a.button,
// a.iconbutton {
//       font-family:verdana,arial,serif;
//       padding: 0px 5px 0px 5px;
//       font-size: 10px;
//       height:16px;
//       line-height: 14px;
//       color: #ffffff;
//       margin:1px 0;
//       text-align: center;
//       background-color: #5bb75b;
//       background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
//       background-image: -webkit-linear-gradient(top, #62c462, #51a351);
//       background-image: -moz-linear-gradient(top, #62c462, #51a351);
//       background-image: -ms-linear-gradient(top, #62c462, #51a351);
//       background-image: -o-linear-gradient(top, #62c462, #51a351);
//       background-image: linear-gradient(top, #62c462, #51a351);
//       background-repeat: repeat-x;
//       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
//       border: 1px solid #ccc;
//       border-color: #51a351 #51a351 #387038;
//       border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//       filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
//       -webkit-border-radius: 3px;
//       -moz-border-radius: 3px;
//       border-radius: 3px;
//       -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//       box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//       cursor: pointer;
//       *margin-left: .3em;
//       display: inline-block;
//       overflow:hidden;
//       zoom: 1; /* ie7 hack */
//       *display: inline;  /* ie7 hack */

// }

// a.button:hover,
// a.iconbutton:hover
//  {
//   color: #ffffff;
//   text-decoration: none;
//   background-color: #51a351;
//   background-position: 0 -15px;
//   -webkit-transition: background-position 0.1s linear;
//   -moz-transition: background-position 0.1s linear;
//   -ms-transition: background-position 0.1s linear;
//   -o-transition: background-position 0.1s linear;
//   transition: background-position 0.1s linear;
// }
// a.button:focus,
// a.iconbutton:focus {
//   outline: thin dotted;
//   outline: 5px auto -webkit-focus-ring-color;
//   outline-offset: -2px;
// }
// a.button.active, .button:active,
// a.iconbutton.active, .iconbutton:active  {
//   background-image: none;
//   -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
//   -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
//   box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
//   color: rgba(255, 255, 255, 0.75);
//   background-color: #51a351;
//   background-color: #408140 \9;
//   outline: 0;
// }
// a.button.disabled, .button[disabled],
// a.iconbutton.disabled, .iconbutton[disabled] {
//   cursor: default;
//   background-image: none;
//   background-color: #51a351;
//   opacity: 0.65;
//   filter: alpha(opacity=65);
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
// }



.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


.align-center {
  text-align: center;
}





