.Modal_EditPageSettings {
  .baseUrl {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .dimmed {
    color:#777;
    margin: 5px 0px;
  }
  .form-group.form-group-checkbox {
    margin-bottom: 0;
  }
}

.node {
  em {
    font-style: normal;
    font-size: 0.9em;
    opacity: 0.9;
  }


}
