  <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ng-repeat="m in menuItems" role="menuitem" ng-class="{'disabled':m._disabled,'dropdown-submenu':m.submenu,'pull-left':m.submenu}" >

            <a href="javascript:void(0)" ng-click="menuitemClick(m)"><i ng-class='m.icon'></i> {{m.longlabel}}</a>

            <ul class="dropdown-menu" ng-if="m.submenu">
              <li ng-repeat="c in m.submenu" role="menuitem" ng-class="{'disabled':c._disabled}" ><a href="javascript:void(0)" ng-click="menuitemClick(c)"><i ng-class='c.icon'></i> {{c.longlabel}}</a></li>
            </ul>
        </li>

<!--         <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
        <li class="dropdown-submenu pull-left">
          <a tabindex="-1" href="#">More options</a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu pull-left">
              <a href="#">More..</a>
              <ul class="dropdown-menu">
                <li><a href="#">3rd level</a></li>
                <li><a href="#">3rd level</a></li>
              </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
          </ul>
        </li>
 -->  </ul>
