<div class="modal fade" id="fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="javascript:void(0)" class="fa fa-times pull-right close" ng-click="close('cancel')"  aria-hidden="true"></a>
        <h4 class="modal-title" translate>{{params.menuItem.longlabel}}</h4>
      </div>
      <div class="modal-body">
        <p translate>texts.move_page</p>
      </div>
      <div class="modal-footer align-center">
        <button type="button" ng-click="close(true)" class="btn btn-lg btn-primary" >OK</button>
      </div>
    </div>
  </div>
</div>
