@import "susy/sass/_susy.scss";


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@import "partials/skin2_variables";

@import "partials/skin2_normalize";
@import "partials/skin2_oldmaster";
@import "partials/skin2_oldbuttons";
@import "partials/skin2_topnavigation";
@import "partials/skin2_local_bootstrap3";
@import "partials/skin2_datepicker_old";
@import "partials/skin2_legacy";
@import "partials/skin2_layout";
@import "partials/skin2_colorlabels";

